*\#
.\#*
\#*
*~
*.*~
*.swp
.gitignore
TAGS
test/simple_test
test/client_mmap
test/niosd_io_test
test/ref_tree_test
test/binary_hist_test
test/work_dispatch_test
test/common_test
test/micro_test
test/registry_test
test_niosd.device
niova-lcov/
niova-lcov.out
niova-ctl
*.diff
a.out
*-SAVE
*.o
niova
*.gcno
*.gcda
openssl-speed.txt
pahole.out
.gdb_history
uncommitted/
TODO*
*.json
*.cmd
test/config_token_test
test/udp_test
raft_server
raft-server
test/random-test
raft-client
